html, body {
    height: 99%;
    padding-top: .5%;
}

input[type="text"]{
    width: 65%;
    margin-top: 8px;
    opacity: .7;
    cursor: default;
}

form {
    cursor: default;
    text-align: center;
}

input[type="submit"]{
    width: 20%;
    opacity: .7;
    cursor: default;
}
body {
    background: dimgrey;
}

#entryScreen {
    margin: 0 auto;
    float: none;
}

#logo {
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size:  8em;
    background: red;
    opacity: .7;
    cursor: default;
}    

.fill { 
    min-height: 100%;
    height: 100%;
}    

#chatAndState {
    background: yellow;
    min-height: 80%;
    height: 80%;
}

#chatAndPlayers {
    height: 100%;
}

#chatWindow {
    background: darkorchid;
    padding: 15px;
    min-height: 90%;
    height: 90%;
}

#stateWindow {
    background: darkcyan;
    min-height: 100%;
}

#chatInput {
    min-height: 20%;
    height: 20%;
    background: darkgoldenrod;
    padding: 15px;
}

#spyOrNotBox {
    background: cyan;
    min-height: 20%;
    /* margin: 20px auto 20px auto; */
}

#locationsBox {
    background: coral;
    min-height: 50%;
}

#playersArray {
    min-height: 10%;
    background: brown;
}

#imageAndTimer {
    min-height: 30%;
    height: 30%;
    background: violet;
}

#imageBox {
    background: springgreen;
    min-height: 100%;
}

#timerBox {
    background: seagreen;
    min-height: 100%;
}