html, body {
    height: 100%;
    /* padding-top: .5%; */
}

body {
    background: dimgrey;
    font-family: 'Special Elite', cursive;

}

input[type="text"]{
    width: 65%;
    margin-top: 8px;
    opacity: .7;
    cursor: default;
}

form {
    cursor: default;
    text-align: center;
}

input[type="submit"]{
    width: 20%;
    opacity: .7;
    cursor: default;
}

#entryScreen {
    margin: 0 auto;
    float: none;
}

#logo {
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size:  8em;
    background: red;
    opacity: .7;
    cursor: default;
}    

.fill { 
    min-height: 100%;
    height: 100%;
}    

#chatAndState {
    background: yellow;
    min-height: 80%;
    height: 80%;
}

#chatAndPlayers {
    height: 100%;
}

#chatWindow {
    background: darkorchid;
    padding: 20px;
    min-height: 90%;
    height: 90%;
    overflow: scroll;  
}

.playerName {
    width: 10%;
}

#stateWindow {
    background: darkcyan;
    min-height: 100%;
}

#chatInput {
    min-height: 100%;
    height: 100%;
    background: darkgoldenrod;
    padding: 15px;
}

#spyOrNotBox {
    background: cyan;
    min-height: 20%;
}

#chatDiv {
    height: 20%;
    min-height: 20%;
}

#locationsBox {
    background: coral;
    min-height: 55%;
    text-align: center;
    overflow: scroll;
}

.locationButton {
    width: 49%;
    margin-top: 1%;
}

/* .message {
} */

#playersArray {
    min-height: 10%;
    background: brown;
    text-align: center;
}

#imageAndTimer {
    min-height: 25%;
    height: 25%;
    background: violet;
}

#imageBox {
    background: springgreen;
    min-height: 100%;
}

#timerBox {
    background: seagreen;
    min-height: 100%;
}

@media only screen and (max-width: 767px) {
    #chatWindow {
        background: red;
        padding: 30px;
    }

    #chatInput {
        height: 20%;
        min-height: 20%;
        position: fixed;
        width: 100%;
        bottom: 0;
        margin-left: 15px;
    }

    #spyOrNotBox {
        min-height: 10%;
    }
    
    #stateWindow {
        margin-bottom: 20%;
    }

    #locationsBox {
        min-height: 60%;
    }

    .locationButton{
        margin-top: .5%;
    }
    #chatAndPlayers {
        height: 80%;
    }

    #chatAndState {
        background: yellow;
        min-height: 70%;
        height: 70%;
    } 
        
}